@import "tailwindcss";
@font-face {
  font-family: 'Dancing-Script';
  src: url(fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
#Skills-Container path{
  fill: white;
}